# 파이썬의 특징
* 세미콜론(;)으로 끝을 맺지 않아도 된다.
* 들여쓰기에 주의 필요

In [2]:
1+1
    1+1

IndentationError: ignored

# 변수 
* 문제 1 : a는 2, b는 3이다. a+b=?
  * a와 b에 변수를 지정해 본다.

In [3]:
a = 2
b = 3

a+b

5

* 변수명 주의사항
  * 영문자, 숫자, _ 조합으로 사용
  * 첫번째에는 숫자가 먼저 올 수 없다
  * 변수명 사이에 띄어쓰기 불가
  * 대, 소문자 구분

# 자료형

 * 자료형: 저장되는 자료의 형태

## 1) 숫자형
* int: 정수의 형태
  * 사칙연산 가능

In [8]:
a = 1
b = 0
c = 1.1
d = 1.

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>

## 2) 문자형
 * 문자를 만들기 위해서 "", ''를 감싸준다

In [9]:
a = "Hi"

print(a)

Hi

* 인덱스: 인덱스는 []를 통해 지정; 0부터 시작

In [15]:
a = "forensicEntomology"

print(a[0])

f

* 변수 a의 마지막 문자를 출력하시오

In [16]:
print(a[-1])

y

* 변수 a의 6~8번째 문자를 출력하시오

In [17]:
print(a[5:8])

sic

* 문자열의 합

In [18]:
a = "hello"
b = "world"

a+b

'helloworld'

* 문자열의 곱

In [19]:
a*3

'hellohellohello'

* 문자형과 숫자형을 동시 출력

In [24]:
a = "apple "
b = 3

print(a,b)
print(a + str(b))

apple  3
apple 3

* 문자열 분쇄

In [25]:
a = "This is apple"
a.split()

['This', 'is', 'apple']

In [26]:
a = "This.is.apple"
a.split('.')

['This', 'is', 'apple']

In [30]:
a = "This_is_apple"
a.split('_')

['This', 'is', 'apple']

## 3) 튜플

튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다
다음과 같다.

* 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
* 리스트는 요소 값의 생성, 삭제, 수정이 가능하지만 튜플은 요소 값을 바꿀 수 없다.

```
>>> t1 = ()
>>> t2 = (1,)
>>> t3 = (1, 2, 3)
>>> t4 = 1, 2, 3
>>> t5 = ('a', 'b', ('ab', 'cd'))

```

리스트와 모습은 거의 비슷하지만 튜플에서는 리스트와 다른 2가지 차이점을 찾아볼 수 있다. t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 한다는 것과 t4 = 1, 2, 3처럼 괄호( )를 생략해도 된다는 점이다.

얼핏 보면 튜플과 리스트는 비슷한 역할을 하지만 프로그래밍을 할 때 튜플과 리스트는 구별해서 사용하는 것이 유리하다. 튜플과 리스트의 가장 큰 차이는 요솟값을 변화시킬 수 있는가 여부이다. 즉 리스트의 요솟값은 변화가 가능하고 튜플의 요솟값은 변화가 불가능하다. 따라서 프로그램이 실행되는 동안 요솟값이 항상 변하지 않기를 바란다거나 값이 바뀔까 걱정하고 싶지 않다면 주저하지 말고 튜플을 사용해야 한다. 이와는 반대로 수시로 그 값을 변화시켜야할 경우라면 리스트를 사용해야 한다. 실제 프로그램에서는 값이 변경되는 형태의 변수가 훨씬 많기 때문에 평균적으로 튜플보다는 리스트를 더 많이 사용한다.

In [34]:
a = (1, 2, 3)
print(type(a))

<class 'tuple'>

# 4) 딕셔너리

사람은 누구든지 "이름" = "홍길동", "생일" = "몇 월 며칠" 등으로 나타낼 수 있다. 파이썬은 영리하게도 이러한 대응 관계를 나타낼 수 있는 자료형을 가지고 있다. 요즘 사용하는 대부분의 언어도 이러한 대응 관계를 나타내는 자료형을 갖고 있는데, 이를 연관 배열(Associative array) 또는 해시(Hash)라고 한다.

파이썬에서는 이러한 자료형을 딕셔너리(Dictionary)라고 하는데, 단어 그대로 해석하면 사전이라는 뜻이다. 즉 "people"이라는 단어에 "사람", "baseball"이라는 단어에 "야구"라는 뜻이 부합되듯이 딕셔너리는 Key와 Value를 한 쌍으로 갖는 자료형이다. 예컨대 Key가 "baseball"이라면 Value는 "야구"가 될 것이다.

딕셔너리는 리스트나 튜플처럼 순차적으로(sequential) 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다. 이것이 바로 딕셔너리의 가장 큰 특징이다. baseball이라는 단어의 뜻을 찾기 위해 사전의 내용을 순차적으로 모두 검색하는 것이 아니라 baseball이라는 단어가 있는 곳만 펼쳐 보는 것이다.


딕셔너리는 어떻게 만들까?
---
다음은 기본 딕셔너리의 모습이다.

```
{Key1:Value1, Key2:Value2, Key3:Value3, ...}
```

Key와 Value의 쌍 여러 개가 { }로 둘러싸여 있다. 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표(,)로 구분되어 있다.

다음 딕셔너리 예를 살펴보자.

```
>>> dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
```

위에서 Key는 각각 'name', 'phone', 'birth'이고, 각각의 Key에 해당하는 Value는 'pey', '010-9999-1234', '1118'이 된다.

# 4) 집합 자료형 (Set)

```
>>> s2 = set("Hello")
>>> s2
{'e', 'H', 'l', 'o'}

```

* 중복을 허용하지 않는다.
* 순서가 없다(Unordered).

# 반복문
## for

for를 이용한 반복문은 아래와 같이 작성한다.

```
 
 for 변수 in 반복 가능한 객체:
     반복하여 실행할 내용


```


* 여기서 반복 가능한 객체는 아래와 같다.
  - list
  - range

* 문제: 1부터 10까지 출력하시오
  * list를 이용한 해결

In [38]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10

* range를 이용한 해결

In [36]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

* 1부터 9까지 2씩 증가하면서 출력하시오

In [42]:
 for i in range(1, 10, 2):
     print(i)

1
3
5
7
9

* 9부터 1까지 2감소하면서 출력하시오

In [44]:
for i in range(9, 1, -2):
    print(i)

9
7
5
3

* 1부터 10까지의 자연수의 합을 구하시오

In [51]:
r = 0
for i in range(1, 11, 1):
    r = r + i

print(r)

55

* 구구단을 출력하시오

In [55]:
for i in range(2, 10, 1):
    for a in range(1, 10, 1):
        print(i * a)

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

# 제어문 While

While 조건:
    반복하여 실행할 내용

In [58]:
 i = 1
 while i < 11:
     print(1)
     i = i + 1

1
1
1
1
1
1
1
1
1
1

In [69]:
# 1부터 10까지의 자연수의 합을 구하시오

i = 1
r = 0

while i < 11:
    r += i #r + r + 1
    i += 1 #i + i + 1
print(r)

55

# if 조건문

In [87]:
# x가 5보다 작으면 5미만, 많으면 5이상으로 출력하시오

x = 4
if x < 5:
    print('lower 5')
elif x == 5:
    print('5')
else:
    print('upper 5')

lower 5

# List Comprehension
조건문 반목문을 짧게 해결 할 수 있음

In [88]:
# 변수 a에 1부터 10까지 삽입하십시오.

a = []
for i in range(1, 11, 1):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [90]:
# 변수 a에 1부터 10까지 삽입하십시오.

a = [i for i in range(1, 11, 1)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [94]:
# 변수 a에는 A반의 수학점수가 저장되어 있다. 이 중 80점 이상의 점수만 걸러내어라

a = [90, 60, 40, 70, 98, 87, 45, 66, 100]

r = [i for i in a if i >= 80]
print(r)

[90, 98, 87, 100]

# 함수 만들기

In [99]:
# x를 입력값으로 넣으면 x+1을 출력하는 함수 생성

def f1(x):
    r = x + 1
    return r

a = f1(2)
print(a)

3

# 외부 라이브러리 사용

In [101]:
# 라이브러리 다운로드

!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.5.3)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [103]:
import pandas as pd